.nav_con{
    display:flex;
    flex-direction:row;
    height: 300px;
}

.nav_div_dwn{
    padding-top:30px;   
}

.col-3{
    flex-basis:33.3%;
}

.col-2{
    flex-basis:50%;
}


.nev_login{
    padding-left:100px;
}
.nev_cont{
   padding-left:200px;
}

.cont_li{
    list-style:none;
    display:flex;
    flex-direction: row;
}

.con_li_sp{
    padding-left:120px;
}

.nav_a{
    text-decoration:none;
    color:rgb(0, 0, 0);
    font-weight:bold;
}
.lb{
    width: 70px;
    height: 30px;
    border-radius: 10px;
    background-color: rgb(199, 199, 15);
    font-weight:bold;
    border:none;
    transition: 0.2s;
}
.lb:hover{
    background-color:rgb(5, 5, 60);
    color:aliceblue;
}


